<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Ajax를 통한 API 요청</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>즐겨찾기 목록</h1>
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">이름</th>
            <th scope="col">주소</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${favoriteList}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td>
                <a th:href="${item.url}" th:text="${item.url}"></a>
            </td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>