<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>종합문제 1</title>
</head>
<body>
    <div id="wrap">
        <header class="d-flex">
            <div class="side col-2 p-0">
                <div class="logo-left ">
                    <div class="d-flex justify-content-center pt-3">
                        <img class="mr-1" src="http://marondal.com/material/images/dulumary/web/jstl/weather-logo.png">
                        <p class="text-light font-weight-bold">기상청</p>
                    </div>
                </div>
                <nav class="main-menu justify-content-start mt-4">
                    <ul class="nav flex-column font-weight-bold">
                        <li class="nav-item"><a href="#" class="nav-link text-white">날씨</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">날씨입력</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">테마날씨</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">관측 기후</a></li>
                    </ul>
                </nav>
            </div>
            <div class="bg-white col-10">
                <div class="logo mt-3 ml-4">
                    <h3>과거 날씨</h3>
                </div>
                <div class="h-50 bg- ml-4 ">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">날씨</th>
                            <th scope="col">날씨</th>
                            <th scope="col">기온</th>
                            <th scope="col">강수량</th>
                            <th scope="col">미세먼지</th>
                            <th scope="col">풍속</th>
                        </tr>
                        </thead>
                        <tbody>


                        </tbody>

                    </table>
                </div>
            </div>
        </header>
        <hr>
        <footer class="d-flex">
            <div class="col-2 p-0 text-center mt-2">
                <img class="w-75" src="http://marondal.com/material/images/dulumary/web/jstl/weather-footer.png">
            </div>
            <div class="col-10 p-0 ml-4 mt-2">
                <p>(07062) 서울시 동작구 여의대방로16길 61<br>
                Copyright@2020 KMA. All Rights RESERVED.</p>
            </div>
        </footer>

    </div>
</body>
</html>